package modules

import "github.com/ljgago/shortlink-go/ui/components/icon"

templ ThemeSwitch() {
	<label x-data="theme" class="swap swap-rotate">
		<input
			type="checkbox"
			class="theme-controller"
			:checked="isDark"
			@click="toggleTheme()"
		/>
		<!-- sun icon -->
		@icon.Sun(icon.Props{Class: "swap-off", Size: 28})
		<!-- moon icon -->
		@icon.Moon(icon.Props{Class: "swap-on", Size: 28})
	</label>
}
